<div class="home-container">
  <ul class="book-list">
    @for (book of books; track book.id) {
      <span class="book-info">{{ book.title }} - {{ book.publishedYear }}</span>
      <div class="button-group">
        <button (click)="Delete(book.id)" class="delete-btn">Delete</button>
        <button (click)="edit(book.id)" class="edit-btn">Edit</button>
      </div>
    }@empty {
      <h1 class="empty-message">No books available</h1>

    }

  <div class="add-button-container">
    <button (click)="Add()" class="add-btn">Add Book</button>
  </div>

